.footer{
    padding-top: 45px;
    color: #fbfbfb;

    & ul{
        list-style: none;
        padding: 0; 


        & li a{
            text-decoration: none;
            color: #777;
        }
    }

}

.footer-fifth{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    & a{
        color: #fbfbfb; 
    }
}



